page-tutorial {
    #button {
        border: 1px solid red;
        background-color: antiquewhite;
        background-image: url('../assets/imgs/noun.jpg');
        background-color: transparent;
    }
    .btn {
        border: 1px solid red;
        margin-top: 50%;
    }
}